/*Geral*/

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}

body {
    background-color: silver;
}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

button:hover {
    background-color: silver;
}

input, select {
    padding: 0.25rem 0.5rem; 
    margin: 0.2rem;
}

.hide {
    display: none;
}

/*todo header*/

.todo-container{
    max-width: 450px;
    margin: 3rem auto;
    background: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
    
}

/*todo form*/

#todo-form, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
#todo-form p, #edit-form p{
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form-control{
    
}
.form-control input{
    margin-right: 0.3rem;
}

#cancel-edit-btn{
    margin-top: 1rem;
}

/* todo tolbar */
#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}
#toolbar h4{
    margin-bottom: 0.5rem;
}

#search{
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form{
    display: flex;
}

#search input{
    width: 100%;
    margin-right: 0.3rem;
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select{
        flex: 1;
}

/* todo list*/

.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.todo h3{
    flex: 1;
    font-size: 0.9rem;
}

.todo button{
    margin-left: 0.4rem;
}

.done{
    background-color: #395169;
}

.done h3{
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}

/* incio calendario*/
.calendario{
    flex-basis: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
 .calendario header{
    
    width: 100%;
}
#calendario-ano{
    margin-top: 12px;
}
h2{
    margin: 0 100px;
    font-size: 32px;   
    text-transform: uppercase;
    text-align: center;
    
    
}
#qualquercoisa{
    display: inline-flex;
    align-items: center;
}
.btn-ant,.btn-prox{ 

    height: 26px; 
    width: 26px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}
.btn-ant:hover,.btn-prox:hover{
    background: #cbd1d2;
    color: #f9f9f9;
}
.btn-ant{
    left: 80px;
}
.btn-prox{
    right: 80px;
}
.calendario table{
    margin-top: 20px;
    border-collapse: collapse;
}
.calendario thead{
    background: #696969;
    font-weight: 600;
    text-transform: uppercase;
    
}
.calendario thead td{
    height: 67.4px;
}


.calendario td{
    border: 1px solid #cbd1d2;
    height: 70px;
    text-align: center;
    width: 71.4px;
}
.calendario tbody td{
    cursor: pointer;
}
.calendario tbody td:hover{
    background: #C0C0C0;
}
.calendario table .dia-atual{
    background: #00addf;
    color: #f9f9f9;
}
.calendario .mes-anterior,.calendario .proximo-mes{
    color: #cbd1d2;
}
.calendario .mes-anterior:hover,.calendario .proximo-mes:hover{
    background: #98a0a0;
}
.event{
    display: relative;
}
.event:after{
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background: orange;
    display: block;    
    border-radius: 50%;
}
.event:hover::after{
    background: #f9f9f9;
}
.event.dia-atual:after{
    background: #f9f9f9;
}